@model IEnumerable<hva_som_skjer.Models.ClubModel>

<body>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">KLUBBER</h2>
                <p class="text-center">Her finner du alle slags klubber som kan passer på deg </p>
            </div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <form method="GET">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/action-athlete-athletics-618612.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name" >Sport</h3>
                            </div>
                        </div>
                    </a>
                    </form>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/album-black-classic-167092.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Musikk</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/abstract-art-blur-373543.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Teknologi</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/art-artist-brush-102127.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">KUNST</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="team-grid">
        <div class="container">
            <div class="intro"></div>
            <div class="row people">
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/adult-aged-baby-226616.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name" style="font-size:20;">Student-<br>forening</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/blue-controller-dualshock-18174.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Gaming</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/automobile-automotive-car-358070.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Biler</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="List" asp-action="Clubs">
                        <div class="box" style="background-image:url(&quot;images/backlit-beach-dawn-588561.jpg&quot;);">
                            <div class="cover">
                                <h3 class="name">Friluft</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>


<div class="col-md-4 col-lg-3 item">
                    <a style="display:block" asp-controller="Club" asp-action="Clubs">
                        <div  class="box" style="background-image:url(&quot;images/album-black-classic-167092.jpg&quot;);">
                        <div class="cover">
                            <h3 class="name">Musikk</h3>
                        </div>
                        </div>
                    </a>
                </div>