@model IEnumerable<hva_som_skjer.Models.ClubModel>

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <tr><th>Name</th><th>Category</th><td>Contact</td></tr>
        @foreach (var p in Model) {
        Html.RenderPartial("_ClubPartial", p);
        }    
</table> 