@model IEnumerable<hva_som_skjer.Models.ClubModel>

<body>
    <div class="team-grid">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Opprette klubb</h2>
                <p class="text-center">Hvilken kategori passer klubben din best under </p>
            </div>
            <form class="form-horizontal" method="post" enctype="multipart/form-data" asp-controller="Club" asp-action="Generate">
                <fieldset>        
                    <legend>Oppret klubb</legend>                    
                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Name">Navn</label>  
                    <div class="col-md-4">
                    <input id="Name" name="Name" type="text" placeholder="Klubbnavn" class="form-control input-md" required="">
                        
                    </div>
                    </div>

                    
                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Category">Kategori</label>
                    <div class="col-md-5">
                        <select id="Category" name="Category" class="form-control">
                        <option value="Sport">Sport</option>
                        <option value="Musikk">Musikk</option>
                        <option value="Teknologi">Teknologi</option>
                        <option value="Kunst">Kunst</option>
                        <option value="Student Forening">Student Forening</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Biler">Biler</option>
                        <option value="Friluft">Friluft</option>
                        </select>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Description">Beskrivelse</label>
                    <div class="col-md-4">                     
                        <textarea class="form-control" id="Description" name="Description"></textarea>
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Contact">Kontaktperson</label>  
                    <div class="col-md-4">
                    <input id="Contact" name="Contact" type="text" placeholder="" class="form-control input-md">
                    <span class="help-block">Hovedansvarlig for klubben</span>  
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Adress">Adresse</label>  
                    <div class="col-md-4">
                    <input id="Adress" name="Adress" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Website">Nettsted</label>  
                    <div class="col-md-4">
                    <input id="Website" name="Website" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Email">E-post</label>  
                    <div class="col-md-4">
                    <input id="Email" name="Email" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Phone">Telefon</label>  
                    <div class="col-md-4">
                    <input id="Phone" name="Phone" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                    </div>

                    <div class="form-group">
                    <label class="col-md-4 control-label" for="Founded">Stiftet</label>  
                    <div class="col-md-4">
                    <input id="Founded" name="Founded" type="text" placeholder="" class="form-control input-md">
                        
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-10">
                        <p>Velg Logo bilde:</p>
                        <input name="logo" type="file" />
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-10">
                        <p>Velg Banner bilde:</p>
                        <input name="banner" type="file" />
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-4">
                        <button id="singlebutton" name="singlebutton" class="btn btn-inverce">Submit</button>
                    </div>
                    </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>