@model IEnumerable<hva_som_skjer.Models.Event>

@{
    ViewData["Title"] = "Arrangementer";
}

<hr />

<a asp-action="Create">Opprett Arrangement</a>

@foreach (var item in Model) 
{
    Html.RenderPartial("_EventPartial", item);
}    
