@{
    ViewData["Title"] = "Kalender";
}

<div class="social container">
    <div style="margin:46px;">
        <div class="row row-striped">
            <div class="col-2 text-center ">
                <h1 class="display-4 ">
                    <span class="badge date-green">14</span>
                </h1>
                <h2>MAY</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase">
                    <strong>HollMarked</strong>
                </h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Wednesday</li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 18:30 PM - 22:00 PM</li>
                    <li class="list-inline-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Restaurant</li>
                </ul>
                <p>Kom innom og se på utvalget. Kanskje finner du noe du har lett etter en stund - eller kanskje faller du for
                    en fristelse der og da. Også spennende å bare snuse rundt. Gjør et kupp på påskemarked i Næroset i år.
                    VELKOMMEN.</p>
            </div>
        </div>

        <div class="row row-striped">
            <div class="col-2 text-center ">
                <h1 class="display-4 ">
                    <span class="badge date-green">18</span>
                </h1>
                <h2>AUG</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase">
                    <strong>matlagingskurs </strong>
                </h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Wednesday</li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 1:30 PM - 2:00 PM</li>
                    <li class="list-inline-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Restaurant</li>
                </ul>
                <p>Learn how to make Food & Drink.</p>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-center">
                <h1 class="display-4">
                    <span class="badge badge-grey">26</span>
                </h1>
                <h2>JAN</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase">
                    <strong>Dansekurs</strong>
                </h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
                    <li class="list-inline-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Room 1408</li>
                </ul>
                <p>Du har muligheten til å lære tango dansen.</p>
            </div>
        </div>
        <div class="row row-striped">
            <div class="col-2 text-center">
                <h1 class="display-4">
                    <span class="badge badge-grey">11</span>
                </h1>
                <h2>JUN</h2>
            </div>
            <div class="col-10">
                <h3 class="text-uppercase">
                    <strong>Tur</strong>
                </h3>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <i class="fa fa-calendar-o" aria-hidden="true"></i> Tuesday</li>
                    <li class="list-inline-item">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 10:30 PM - 9:00 PM</li>
                    <li class="list-inline-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i> Room 1408</li>
                </ul>
                <p>Finn ut hva som skjer i ditt område Møt folk rundt deg og begynn å møte med de som hadde det samme interessant.</p>
            </div>
        </div>
    </div>
</div>