<div class="simple-slider">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(&quot;images/art-colorful-colourful-163822.jpg&quot;);color:rgb(40,81,123);"></div>
            <div class="swiper-slide" style="background-image:url(&quot;images/action-air-balance-345415 2.jpg&quot;);"></div>
            <div class="swiper-slide" style="background-image:url(&quot;images/abstract-art-blur-20721.jpg&quot;);"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
<div class="team-clean">
    <div class="container">
        <div class="test">
            <h2 class="text-center">Litt Om Hva Som Skjer</h2>
            <p class="text-center"> Hva Som Skjer er siden du kan bruke til å holde styr på klubbaktivitetene og nyheter som er relevant for deg som medlem av en eksisterende klubber.
                <br>Leter du etter en klubb som du ikke finner, hvorfor ikke opprette din egen og komme i kontakt med andre persoaner som deler dine interesser. 
                <br>Du kan også bruke siden til og lete etter nye klubber eller for å komme kontakt med klubber.
            </p>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/news.png">
                <h3 class="name">NYHETER</h3>
                <p class="title">MUSIKER</p>
                <p class="description">Få meg deg hva som skjer i ditt lokalmiljø.</p>
                <div class="social">
                    <a href="#">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/location.png">
                <h3 class="name">Arrangementer</h3>
                <p class="title">KUNSTNER</p>
                <p class="description">Finn arrangementer nær deg.</p>
                <div class="social">
                    <a href="#">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 item">
                <img class="rounded-circle" src="images/clo 2.png">
                <h3 class="name">KALENDER</h3>
                <p class="title">STYLIST</p>
                <p class="description">Få oversikt over hva som skjer.</p>
                <div class="social">
                    <a href="#">
                        <i class="fa fa-facebook-official"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-instagram"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>